faster-whisper==1.2.1
--find-links https://k2-fsa.github.io/sherpa/onnx/cuda.html
sherpa-onnx==1.13.3+cuda12.cudnn9 ; platform_machine == "x86_64"
sherpa-onnx==1.13.3 ; platform_machine == "aarch64"
sherpa-onnx==1.13.3 ; platform_machine == "armv7l"
websockets==16.0
numpy==2.3.5
soundfile==0.13.1
python-dotenv==1.2.2
